@charset "UTF-8";

/* Estilo para impressão */

* {
    margin: 10px 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    line-height: 1.3em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: "Esse artigo foi impresso através do site local do pc de Diego Freitas.";
}