@charset "UTF-8";

body {
    background-image: url(imagens/espaco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
    height: 100vh;
}
img {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}