@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(45deg, #012E40, #024959);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(1, 21, 29, 0.61);
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #026773;
    text-align: center;
    text-shadow: 1px 1px 2px #026773;
}

h2 {
    color: #3CA6A6;    
}

p {
    text-align: justify;
}